.addNewBtn {
    background-color: #50C2C9;
    border-radius: 5px;
    padding: 6px;
    color: #fff;
}
.searchBar {
    display: flex;
    justify-content: space-between;
}

.main-card {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.edit {
    background-color: #b4a9a9;
    width: 10%;
    border-radius: 212px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.submitBtn {
    width: 120px;
    text-align: center;
    background-color: #50c2c9;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

.submitBtn_main {
    display: flex;
    justify-content: center;
}