<div class="main-card">
    <h3> {{ 'CUSTOMER_MASTER.CUSTOMER_LIST' | translate}}</h3>
    <p-button styleClass="p-button-secondary" (click)="addNewCutomer()">+ {{ 'CUSTOMER_MASTER.ADD_NEW_CUSTOMER' | translate}} </p-button>
</div>

<div class="row">
    <p-table #customer_table [value]="customersList" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]" [globalFilterFields]="['mobileNo']" dataKey="mobileNo">
        <ng-template pTemplate="caption">
            <div class="searchBar">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(customer_table)"></button>
                <span class="p-input-icon-right">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" id="orderSearch"  (input)="customer_table.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search by Mo. No." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>{{ 'CUSTOMER_MASTER.FIRSTNAME' | translate}}</th>
                <th>{{ 'CUSTOMER_MASTER.LASTTNAME' | translate}} </th>
                <th>{{ 'CUSTOMER_MASTER.MOBILE' | translate}}</th>
                <th>{{ 'CUSTOMER_MASTER.ACTION' | translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-columns="columns">
            <tr>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.mobileNo}}</td>
                <td>
                    <div class="edit" (click)="editCustomer(item)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">{{ 'CUSTOMER_MASTER.NOCUSTOMER' | translate}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="card flex justify-content-center">
    <p-dialog [header]="dialogHeader" [(visible)]="isDialogvisible" [style]="{width: '50%'}">
        <div class="row" [formGroup]="customerForm">
            <div class="col-md-4">
                <label>{{ 'CUSTOMER_MASTER.FIRSTNAME' | translate}} </label><span class="required">*</span>
                <input pInputText type="text" class="form-control" formControlName="firstName"  (keydown)="inputRestriction($event, 'name')"/>
            </div>
            <div class="col-md-4">
                <label>{{ 'CUSTOMER_MASTER.LASTTNAME' | translate}}</label><span class="required">*</span>
                <input pInputText type="text" class="form-control" formControlName="lastName"  (keydown)="inputRestriction($event, 'name')"/>
            </div>
            <div class="col-md-4">
                <label>{{ 'CUSTOMER_MASTER.MOBILE' | translate}}</label><span class="required">*</span>
                <input pInputText type="text" class="form-control" formControlName="mobileNo"  minlength="10" maxlength="10" (keydown)="inputRestriction($event, 'mobile')" (keyup.enter)="onSubmit()" />
            </div>
        </div>
        <div class="submitBtn">
            <button class="submit" [ngClass]="customerForm.invalid ? 'disabled' : '' " (click)="onSubmit()" [disabled]="customerForm.invalid">
                {{submitBtnLable}}
            </button>
        </div>


    </p-dialog>
</div>