
<div class="row">
    <div class="col-6">
        <div class="main-card">
            <h4>{{ 'PATTERN_MASTER.ADD_EXTRA_INFO_LIST' | translate}}</h4>
            <button class="button" data-bs-toggle="modal" data-bs-target="#AddExtraInfoList"  (click)="addNewPattern()"> + {{ 'PATTERN_MASTER.ADD_NEW' | translate}} </button>
        </div>
        <div class="card">
            <p-table [value]="patterns">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>{{ 'PATTERN_MASTER.Sr_No' | translate}}</th>
                        <th>{{ 'PATTERN_MASTER.Info' | translate}}</th>
                        <th>{{ 'PATTERN_MASTER.TYPE' | translate}}</th>
                        <th>{{ 'PATTERN_MASTER.PRICE' | translate}}</th>
                        <th>{{ 'PATTERN_MASTER.ACTION' | translate}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
                    <tr>
                        <td>{{rowIndex + 1}}</td>
                        <td>{{item.patternName}}</td>
                        <td>{{item.patternCategory}}</td>
                        <td>{{item.patternPrice | currency:'INR' }}</td>
                        <td>
                            <div class="actionbutton">
                                <div class="edit">
                                    <i class="fa fa-pencil" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#AddExtraInfoList" (click)="editPattern(item)"></i>
                                </div>
                                <div class="delete">
                                    <i class="fa fa-trash" aria-hidden="true" (click)="deletePattern(item)"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="col-6">
        <div class="main-card">
            <h4>{{ 'PATTERN_MASTER.ARTICAL_RATE_INFO_LIST' | translate}}</h4>
            <button class="button" data-bs-toggle="modal" data-bs-target="#ArticalRateInfoList" (click)="addArticalRate()" >{{ 'PATTERN_MASTER.ADD_ARTICAL' | translate}}</button>
        </div>

        <div class="card">
            <p-table [value]="articalRateInfoData">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>{{ 'PATTERN_MASTER.Sr_No' | translate}}</th>
                        <th>{{ 'PATTERN_MASTER.TYPE' | translate}}</th>
                        <th>{{ 'PATTERN_MASTER.RATE' | translate}}</th>
                        <th>{{ 'PATTERN_MASTER.ACTION' | translate}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
                    <tr>
                        <td>{{rowIndex + 1}}</td>
                        <td>{{item.articalTypeName}}</td>
                        <td>{{item.articalRate | currency:'INR' }}</td>
                        <td>
                            <div class="actionbutton">
                                <div class="edit">
                                    <i class="fa fa-pencil" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#ArticalRateInfoList" (click)="editArticalRateInfo(item)"></i>
                                </div>
                                <!-- <div class="delete">
                                    <i class="fa fa-trash" aria-hidden="true" (click)="deletePattern(item)"></i>
                                </div> -->
                            </div>
                        </td>
                    </tr>
                </ng-template> 
            </p-table>
        </div>
    </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>


  <!-- Modal -->
  <div class="modal fade" id="AddExtraInfoList" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel" *ngIf="!isPatternVisible">{{ 'PATTERN_MASTER.ADD_NEW' | translate}}</h5>
          <h5 class="modal-title" id="staticBackdropLabel" *ngIf="isPatternVisible">{{ 'PATTERN_MASTER.EDIT_NEW' | translate}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="pattern">
                <label class="patternLabel">{{ 'PATTERN_MASTER.PATTERN_NAME' | translate}}</label>
                <input type="text" pInputText class="form-control" [(ngModel)]="patternName"
                    placeholder="Enter Pattern Name"  (keydown)="inputRestriction($event, 'name')">
            </div>
            <div class="pattern">
                <label class="patternLabel">{{ 'PATTERN_MASTER.PRICE' | translate}}</label>
                <input type="text" pInputText class="form-control" [(ngModel)]="patternPrice" placeholder="Enter Enter price" (keydown)="inputRestriction($event, 'price')">
            </div>
            <div class="d-flex">
                <label>{{ 'PATTERN_MASTER.CATEGORY' | translate}} :</label>
                <div class="flex align-items-center">
                    <p-radioButton class="radioBtn" value="Pant" [(ngModel)]="patternCategory" inputId="type1"></p-radioButton>
                    <label for="type1" class="ml-2 radioLable">
                        {{ 'PATTERN_MASTER.PANT' | translate}}</label>
                </div>
            
                <div class="flex align-items-center">
                    <p-radioButton class="radioBtn" value="Shirt" [(ngModel)]="patternCategory" inputId="type2"></p-radioButton>
                    <label for="type2" class="ml-2 radioLable">
                        {{ 'PATTERN_MASTER.SHIRT' | translate}}</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="patternSubmit()">{{ 'PATTERN_MASTER.SUBMIT' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="ArticalRateInfoList" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel" *ngIf="!isArticalRateVisible">{{ 'PATTERN_MASTER.ADD_NEW_RATE' | translate}}</h5>
          <h5 class="modal-title" id="staticBackdropLabel"*ngIf="isArticalRateVisible">{{ 'PATTERN_MASTER.EDIT_RATE' | translate}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="pattern">
                <label class="patternLabel">{{ 'PATTERN_MASTER.TYPE' | translate}}</label>
                <input type="text" pInputText class="form-control" [(ngModel)]="articalTypeName">
            </div>
            <div class="pattern">
                <label class="patternLabel">{{ 'PATTERN_MASTER.RATE' | translate}}</label>
                <input type="number" pInputText class="form-control" [(ngModel)]="articalRate">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="articalRateInfoSubmit()" [disabled]="!articalRate || !articalTypeName">{{ 'PATTERN_MASTER.SUBMIT' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
  