.submit {
    width: 111px;
    color: #fff;
    cursor: not-allowed;
    border-radius: 6px;
    padding: 8px;
    margin: 10px;
    background-color: #2362c9;
}
.radioBtn {
    margin-left: 20px;
}

.radioLable {
    margin-left: 7px;
}

.submitBtn{
    text-align: center;
}