.submit {
    width: 111px;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    padding: 8px;
    margin: 10px;
    background-color: #3b4d63;
}
.radioBtn {
    margin-left: 20px;
}

.radioLable {
    margin-left: 7px;
}

.submitBtn{
    text-align: center;
}

.disabled{
    cursor: not-allowed;
    opacity: 0.6;
}
.card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 15px;
}
.table-text{
    font-size: 15px;
    text-align: center;
    padding: 10px;
    font-weight: 600;
}
.actionbutton{
    display: flex;
    align-items: center;
    .edit {
        border-radius: 50%;
        padding: 5px;
        text-align: center;
        cursor: pointer;
        width: 30%;
        color: #50C2C9;
    }
    .delete {
        border-radius: 50%;
        padding: 5px;
        text-align: center;
        cursor: pointer;
        width: 30%;
        color: red;
    }
}

.main-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.button{
    border: none;
    width: auto;
    padding: 9px;
    border-radius: 10px;
    background: linear-gradient(118deg, #3b4d63, #64748b);
    color: white;
    margin-top: 10px;
    font-weight: 500;
    letter-spacing: 0.4px;
    cursor: pointer;
}