<div class="main-card">
    <p-button (click)="addNewPattern()"> + {{ 'PATTERN_MASTER.ADD_NEW' | translate}} </p-button>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <p-table [value]="patterns">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Info</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
                    <tr>
                        <td>{{rowIndex + 1}}</td>
                        <td>{{item.patternName}}</td>
                        <td>{{item.patternCategory}}</td>
                        <td>{{item.patternPrice | currency:'INR' }}</td>
                        <td>
                            <div class="edit">
                                <i class="fa fa-pencil" aria-hidden="true" (click)="editPattern(item)"></i>
                            </div>
                            <div class="delete">
                                <i class="fa fa-trash" aria-hidden="true" (click)="deletePattern(item)"></i>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="col-6">

    </div>
</div>

<div class="card flex justify-content-center">
    <!-- <p-dialog header="{{ 'PATTERN_MASTER.ADD_NEW'  | translate}} " [(visible)]="isPatternVisible" [modal]="true" -->
    <p-dialog [header]="headingName" [(visible)]="isPatternVisible" [modal]="true"
        [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <div class="pattern">
            <label class="patternLabel">{{ 'PATTERN_MASTER.PATTERN_NAME' | translate}}</label>
            <input type="text" pInputText class="form-control" [(ngModel)]="patternName"
                placeholder="Enter Pattern Name"  (keydown)="inputRestriction($event, 'name')">
        </div>
        <div class="pattern">
            <label class="patternLabel">{{ 'PATTERN_MASTER.PRICE' | translate}}</label>
            <input type="text" pInputText class="form-control" [(ngModel)]="patternPrice" placeholder="Enter Enter price" (keydown)="inputRestriction($event, 'price')">
        </div>

        <!-- <div class="pattern">
            <label class="patternLabel">{{ 'PATTERN_MASTER.CATEGORY' | translate}}</label>
            <p-radioButton name="category" value="Pent" [(ngModel)]="patternCategory" > </p-radioButton>
            <label for="ingredient1" class="ml-5"> {{ 'PATTERN_MASTER.PENT' | translate}}</label>
            <p-radioButton name="category" value="Shirt" [(ngModel)]="patternCategory" >  </p-radioButton>
            <label for="ingredient2" class="ml-5">{{ 'PATTERN_MASTER.SHIRT' | translate}}</label>
        </div> -->

        <div class="d-flex">
            <label>{{ 'PATTERN_MASTER.CATEGORY' | translate}} :</label>
            <div class="flex align-items-center">
                <p-radioButton class="radioBtn" value="Pent" [(ngModel)]="patternCategory" inputId="type1"></p-radioButton>
                <label for="type1" class="ml-2 radioLable">
                    {{ 'PATTERN_MASTER.PENT' | translate}}</label>
            </div>
        
            <div class="flex align-items-center">
                <p-radioButton class="radioBtn" value="Shirt" [(ngModel)]="patternCategory" inputId="type2"></p-radioButton>
                <label for="type2" class="ml-2 radioLable">
                    {{ 'PATTERN_MASTER.SHIRT' | translate}}</label>
            </div>
        </div>

        <div class="submitBtn"> 
            <button class="submit" [ngClass]="!isValid() ? 'disabled' : ''" (click)="patternSubmit()" [disabled]="!isValid()" >
                {{ 'PATTERN_MASTER.SUBMIT' | translate}}
            </button>
        </div>
        <!-- <div class="submit" [ngStyle]="{'cursor': !isValid() ? 'not-allowed' : 'pointer' }">
            <p-button (onClick)="patternSubmit()" [disabled]="!isValid()" > {{ 'PATTERN_MASTER.SUBMIT' | translate}}</p-button>
        </div> -->
    </p-dialog>
</div>


<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>