.row{
    width: 100%;
}
.login{
    button {
        border: none;
        width: 10%;
        padding: 9px;
        margin: 10px;
        border-radius: 20px;
        background: linear-gradient(118deg, #50C2C9,#6AE0D9);
        color: #2f2e41;
        margin-top: 30px;
        font-weight: 500;
        letter-spacing: 0.4px;
        cursor: pointer;
    }
}
.pi {
    font-size: 20px;
}
.modal-body{
    display: flex;
    justify-content: space-between;
}